body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

body {
    background-image: url("shesh.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.letter-btn {
    position: absolute;
    top: 50%;    
    left: 50%;   
    transform: translate(-50%, -50%); 
    font-size: 40px; 
    color: #d63384; 
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 9999; 
}
