* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background: url("cuteii.jpg") no-repeat center center fixed; 
    background-size: cover;
    background-color: pink; /* Fallback color kung hindi mag-load ang image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-btn {
    padding: 15px 30px;
    font-size: 30px;
    background-color: white;
    color: #ff69b4;
    text-decoration: none;
    border-radius: 15px;
    border: 3px solid #ff69b4;
    font-weight: bold;
    z-index: 999;
}
