body{
	background-image: url("cuteii.jpg");
	width: 100%;
	height: 10%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: pink;
	margin-top: 550px;
}

a {
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}
.letter-text {
    font-size: 5vw; 
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

box {
    width: 300px; 
    height: auto;
    padding: 20px;
}

.letter-link {
    display: inline-block;
    padding: 15px 30px;
    background-color: pink;
    border-radius: 10px;
    font-size: 24px;
}

	
